* {
	box-sizing: border-box;
}

a{
	color: red
}

a:hover{
	color: black
}

/* header */

.navbar-default {
    background-color: white !important;
    border-color: #e7e7e7 !important;
    box-shadow: rgba(0, 1, 9, 0.1) 0px 0px 10px 5px;
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: none
}

.navbar-right{
	float: right;
}

.navbar{
	border-radius: 0px !important
}
/* footer */

footer{
	display: flex;
	align-items:center;
	background-color: #000;
	color: #FFF;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 100%
}

footer a{
	color: white
}

/* main */

main{
	overflow: hidden;
	clear: both;
}

main img {
	width: 33.333333%;
	margin: 0px;
	padding: 0px;
	float: left;
}

@media all and (max-width: 900px) {
	main img {
		width: 50%;
	}
} 

@media all and (max-width: 500px) {
	main img {
		width: 100%;
	}
}

/* texto */

h1 {
	position: relative;
	display: inline-block;
}

h1 img {
	width: 20px
}

body{
	font-family: "roboto", sans-serif;
	margin:0px;
	width: 100%
}

a {
	text-decoration: none;
	color: black;
	}

a:hover {
	color: #E7E7E7;
}

ul {
	margin: 0
}

p{
	font-size:10px;
	letter-spacing: 1px;
	line-height: 25px;
	font-weight: lighter;
}

h2 {
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px
}

h4 {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px
}

/**/

.bloques .proyectobloque{
	text-align: center;
	height: 300px;
	position: relative;
}

.proyecto{
	position: absolute;
}

.proyecto h2{
	font-weight: 100;
	text-transform: uppercase;
	font-size: 25px
}