* {
	box-sizing: border-box;
}


/* header */

#header img{
	width: 30px
}

#header{
	display: flex;
	align-items:center;
	background-color: #FFF;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 100%;
}

.navbar li {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 3px;
}

.navbar{
	margin-left: auto;
}
/* footer */

footer{
	display: flex;
	align-items:center;
	background-color: #000;
	color: #FFF;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 100%
}

footer a{
	color: white
}

/* main */

main{
	overflow: hidden;
	clear: both;
}

main img {
	width: 33.333333%;
	margin: 0px;
	padding: 0px;
	float: left;
}

@media all and (max-width: 900px) {
	main img {
		width: 50%;
	}
} 

@media all and (max-width: 500px) {
	main img {
		width: 100%;
	}
}

/* texto */

h1 {
	position: relative;
	display: inline-block;
}

h1 img {
	width: 20px
}

body{
	font-family: "roboto", sans-serif;
	margin:0px;
	width: 100%
}

a {
	text-decoration: none;
	color: black;
	}

a:hover {
	color: #E7E7E7;
}

ul {
	margin: 0
}

p{
	font-size:10px;
	letter-spacing: 1px;
	line-height: 25px;
	font-weight: lighter;
}

h2 {
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px
}

h4 {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px
}