* {
	box-sizing: border-box;
}

a h2{
	color: red
}

a h2:hover{
	color: black;
}

/* header */

.navbar-default {
    background-color: white !important;
    border-color: #e7e7e7 !important;
    box-shadow: rgba(0, 1, 9, 0.1) 0px 0px 10px 5px;
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: none
}

.navbar-right{
	float: right;
}

.navbar{
	border-radius: 0px !important
}
/* footer */

footer{
}

footer a{
	color: white
}

/* main */

main{
	overflow: hidden;
	clear: both;
}

main img {
	width: 33.333333%;
	margin: 0px;
	padding: 0px;
	float: left;
}

@media all and (max-width: 900px) {
	main img {
		width: 50%;
	}
} 

@media all and (max-width: 500px) {
	main img {
		width: 100%;
	}
}

/* texto */

h1 {
	position: relative;
	display: inline-block;
}

h1 img {
	width: 20px
}

body{
	font-family: "roboto", sans-serif;
	margin:0px;
	width: 100%
}

a {
	text-decoration: none;
	color: black;
	}

a:hover {
	color: #E7E7E7;
}

ul {
	margin: 0
}

p{
	font-size:10px;
	letter-spacing: 1px;
	line-height: 25px;
	font-weight: lighter;
}

h4 {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px
}

/**/

.bloques .proyectobloque{
	text-align: center;
	height: 300px;
	position: relative;
	padding: 10px
}

.bloques .proyectobloque .proyectobeh{
	border:1px solid #eee; 
	height: 100%; 
	padding: 0;
}

.bloques .proyectobloque .proyectobeh:hover{
	opacity: 0.5
}

.proyecto{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -50px
}

.proyecto h2{
	font-weight: 200;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	
	

.navbar-brand h1{
	font-weight: 200;
	font-size: 20px !important;
	color: red !important;
	margin-top: 0 !important
}